<div class="movie" (click)="cardClicked()">
  <div class="movie__poster">
    <img class="movie__image" [src]="movie.Poster" alt="Poster: {{movie.Title}}">
  </div>
  <div class="movie__body">
    <div class="movie__meta">
      <span class="movie__title">{{movie.Title}}</span>
      <span class="movie__year">{{movie.Year}}</span>
    </div>
    <button
    type="button"
    class="movie__favorite"
    (click)="favorite = !favorite"
    >
      <span *ngIf="!favorite" (click)="addToFavorites()">
        <i class="far fa-star"></i>
      </span>
      <span *ngIf="favorite">
      <i class="fas fa-star"></i>
      </span>
    </button>
  </div>
</div>
